<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <a class="navbar-brand text-light font-weight-bold px-3" routerLink="/inicio"
    ><img src="assets/google.png" style="width: 30px; height: 30px" /><a
      class="m-2"
      >Angular 11 Google cloud</a
    >
  </a>
  <button
    type="button"
    class="navbar-toggler bg-light"
    data-toggle="collapse"
    data-target="#nav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="nav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a
          routerLink="/inicio"
          class="nav-link text-light font-weight-bold px-3"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Inicio
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a
          routerLink="/votar"
          class="nav-link text-light font-weight-bold px-3"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Votar
        </a>
      </li>
    </ul>
  </div>
</nav>
